<html>

    <head>

        <title>Thank You!</title>

    </head>

    <body>

        <table>

            <tr>

                <td>

                  <%= @name %>, 
                  <p>
                    Thank you for sending along your information. One of our service reps will search for the facilities in your area and reach out to you shortly. 
                  </p>
                  <p>We wish you the best of luck in your serach!</p>

                  <br/>
                  <p>The Senior Care Team</p>

                </td>

            </tr>

        </table>

    </body>

</html>