/ footer
%footer#footer
  .top-footer
    .container
      .row
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding About Us
          .info-sec
            %p Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding Quick Links
          .info-sec
            %ul.quick-info
              %li
                %a{:href => "index.html"}
                  %i.fa.fa-circle>
                  Home
              %li
                %a{:href => "#service"}
                  %i.fa.fa-circle>
                  Service
              %li
                %a{:href => "#contact"}
                  %i.fa.fa-circle>
                  Appointment
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding Follow us
          .info-sec
            %ul.social-icon
              %li.bglight-blue
                %i.fa.fa-facebook
              %li.bgred
                %i.fa.fa-google-plus
              %li.bgdark-blue
                %i.fa.fa-linkedin
              %li.bglight-blue
                %i.fa.fa-twitter
          .credits{style: 'font-size: .01px;'}
            /
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
            Designed by
            %a{:href => "https://bootstrapmade.com/"} BootstrapMade.com
