/ footer
%footer#footer
  .top-footer
    .container
      .row
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding About Us
          .info-sec
            %p We 
        .col-md-4.col-sm-4.marb20

        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding Quick Links
          .info-sec
            %ul.quick-info
              %li
                %a{:href => "/privacy"}
                  %i.fa.fa-circle>
                  Privacy Policy
              %li
                %a{:href => "/terms"}
                  %i.fa.fa-circle>
                  Terms of Use
              %li
                %a{:href => "/about"}
                  %i.fa.fa-circle>
                  About
          .credits{style: 'font-size: .01px;'}
            /
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
            Designed by
            %a{:href => "https://bootstrapmade.com/"} BootstrapMade.com
