/ footer
%footer#footer
  .top-footer
    .container
      .row
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding
          .info-sec
            %p We provide families with helpful information and recomendations to give care to their parents, spouses or other elderly loved ones.
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding
          .info-sec
            %p.terms 2017 OzerHealth, LLC. All rights reserved. The material of this web site is provided for informational purposes only. Ozer Health does not provide medical advice, diagnosis or treatment; or legal, or financial or any other professional services advice.
        .col-md-4.col-sm-4.marb20
          .ftr-tle
            %h4.white.no-padding
          .info-sec
            %ul.quick-info
              %li
                %a{:href => "/privacy"}
                  %i.fa.fa-circle>
                  Privacy Policy
              %li
                %a{:href => "/terms"}
                  %i.fa.fa-circle>
                  Terms of Use
              %li
                %a{:href => "/about"}
                  %i.fa.fa-circle>
                  About
          .credits{style: 'font-size: .01px;'}
            /
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
            Designed by
            %a{:href => "https://bootstrapmade.com/"} BootstrapMade.com
