.bg-color-results
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .col-md-12
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
            .white Senior Home Finder
        #myNavbar.collapse.navbar-collapse.navbar-right
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            -# %li
            -#   %a{:href => "#service"} Services
            -# %li
            -#   %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li
              %a{:href => "tel:(516)725-5312"} (516) 725-5312
%section
  %h1 Privacy Policy
  Adult Home Finder is committed to protecting our users privacy. We respect and take your privacy seriously. The statements below disclose the current privacy practices for Adult Home Finder:
  %br
  %br
  What information do we collect?
  %br
  We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey or fill out a form.
  %br
  %br
  When requesting information on our site, as appropriate, you may be asked to enter your: name, email address, and/or other personally identifiable information. You may, however, visit our site anonymously.
  %br
  %br
  If you choose to post on our interactive site sections, you grant us a license to reproduce any comments, photos, or videos that you submit on our site according to our Terms and Conditions of Use. Information that you post in the interactive areas or in any other public portion of the web site can be read by other users of this web site. We are not responsible for any personally identifiable information you choose to submit in these public areas.
  %br
  %br
  What do we use your information for?
  %br
  Any of the information we collect from you may be used in the following ways:
  %br
  %br
  To personalize your experience
  %br
  (your information helps us to better respond to your individual needs)
  %br
  %br
  To improve our website
  %br
  (we continually strive to improve our website offerings based on the information and feedback we receive from you)
  %br
  %br
  To improve customer service
  %br
  (your information helps us to more effectively respond to your customer service requests and support needs)
  %br
  %br
  To process transactions
  %br
  Your information, whether public or private, may be distributed to 3rd parties for the purpose of delivering or informing you about products and/or services requested. Should you choose to submit an information request to our referral service provider or any other advertising partner, we will share the information we collect with a 3rd party. By providing a phone number, you consent that we and/or 3rd party partners can reach out to you using a phone system that can auto-dial numbers.
  %br
  %br
  To administer a contest, promotion, survey or other site feature
  %br
  To send periodic emails
  %br
  The email address you provide for registering or order processing, may be used to send you information and updates pertaining to your membership or order, in addition to receiving occasional company news, updates, related product or service information, etc. Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
  %br
  %br
  As required by law
  %br
  We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our Web site.
  %br
  %br
  How do we protect your information?
  %br
  We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. While an effort is made to keep all user submitted data that is not for public display, such as email addresses and passwords, secure, we cannot guarantee its security.
  %br
  %br
  Do we use cookies?
  %br
  Yes. We use cookies to understand and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
  %br
  %br
  Do we disclose any information to outside parties?
  %br
  We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information without your consent. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
  %br
  %br

  Third party links
  %br
  Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
  %br
  %br
  Terms and Conditions
  %br
  Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at this page
  %br
  %br
  Your Consent
  %br
  By using our site, you consent to our websites privacy policy and the Google Privacy Policy.
