.bg-color-results
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .col-md-12
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
            .white Senior Home Finder
        #myNavbar.collapse.navbar-collapse.navbar-right
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            -# %li
            -#   %a{:href => "/about"} About
            %li
              %a{:href => "/contact"} Contact
            %li
              %a{:href => "tel:(516)725-5312"} (516) 725-5312
%br/
- flash.each do |key, value|
  %div{:class => "alert alert-#{key}-contact"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"}
    = value.html_safe
%section#contact.section-padding
  .container
    .row
      .col-md-12
        %h2.ser-title Contact us
        %hr.botm-line/
      .col-md-4.col-sm-4
        %h3
        .space
        %p
          Couldn't find a facility that was right for you? Contact us through the form and someone will reach out to you within 24-48 hours.

      .col-md-8.col-sm-8.marb20
        .contact-info
          %h3.cnt-ttl Let us do the search for you!
          .space
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          %form.contactForm{ controller: :provider, :action => "req_info", :method => "post", :role => "form"}
            %input.form-control{name: 'help_form', type:'hidden', value: "true"}
            .form-group
              %input#name.form-control.br-radius-zero{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Name", :type => "text"}/
              .validation
            .form-group
              %input#email.form-control.br-radius-zero{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Email", :type => "email"}/
              .validation
            .form-group
              %input#number.form-control.br-radius-zero{"data-msg" => "Please enter a valid phone number", "data-rule" => "minlen:10", :name => "number", :placeholder => "Phone Number", :type => "tel"}/
              .validation
            .form-group
              %input#location.form-control.br-radius-zero{"data-msg" => "Please enter a valid Zip Code", "data-rule" => "minlen:5", :name => "location", :value => @location, :placeholder => "Zip Code", :type => "text"}/
              .validation
            .form-group
              %select.form-control{ :name => "home_type" }
                %option{:value => "assisted_living"}= "Assisted Living Facility"
                %option{:value => "nursing_home"}= "Nursing Home"   
            .form-action
              %button.btn.btn-form{:type => "submit"} Submit