.bg-color-results
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .col-md-12
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
            .white Senior Home Finder
        #myNavbar.collapse.navbar-collapse.navbar-right
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            -# %li
            -#   %a{:href => "/about"} About
            %li
              %a{:href => "/contact"} Contact
            %li
              %a{:href => "tel:(516)725-5312"} (516) 725-5312
%section#thank-you.section-padding
  .container
    .row
      %h1 Your request is being processed
      %h3 Your request has been received and you should hear from one of our professionals shortly.

%section#testimonial.section-padding
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12
        .section-title
          %h2.head-title.lg-line
            Infomrative Articles
            %br/
          %hr.botm-line/
          %p.sec-para Do your reserach before deciding which home is best for you or your loved one. These are some helpful articles that can help you make the right choice.
      .col-md-9.col-sm-8.col-xs-12
        .col-sm-9.more-features-box{:style => "visibility: visible;"}
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.aarp.org/home-family/caregiving/info-05-2012/caregiving-resource-center-asking-right-questions.html", :target => "_blank"}
                  Comparing Nursing Homes

              %p Use this checklist to ask the right questions when choosing a long-term care facility.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.aarp.org/home-family/caregiving/info-05-2012/caregiving-resource-center-nursing-home-system.html", :target => "_blank"}
                  Living in a Nursing Home
              %p Understanding how these facilities work can mean the difference in the quality of your loved one's care.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.aarp.org/caregiving/basics/info-2017/parents-nursing-home-choices-bjj.html?intcmp=AE-CAR-BAS-EOA3", :target => "_blank"}
                  When It's Time for a Nursing Home
              %p Caregivers often feel an emotional mix of relief and guilt, reassurance and anxiety.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.aarp.org/caregiving/basics/info-2017/senior-housing-options-tool.html", :target => "_blank"}
                  Senior Housing Options
              %p Use this tool to weigh the options and make the best possible choice.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://health.usnews.com/wellness/articles/2016-11-16/how-to-pay-for-nursing-home-costs", :target => "_blank"}
                  How to Pay for Nursing Home Costs
              %p Medicare, Medicaid and other resources can help minimize the cost of long-term care.

/ Event snippet for Senior Care Facility Leads conversion page
:javascript
  gtag('event', 'conversion', {'send_to': 'AW-760554848/U9MwCLDv75UBEODK1OoC'});
