@font-face {
  font-family: 'fontawesome-webfont';
  src: asset-url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('fontawesome-webfont.woff') format('woff'),
       asset-url('fontawesome-webfont.ttf')  format('truetype'),
       asset-url('fontawesome-webfont.svg') format('svg');
  font-style:   normal;
  font-weight:  normal;
}
