.bg-color-results{
	background-color: RGBA(13, 70, 83, 0.78);
	min-height: 92px;
}
.city-list{
  li{
    list-style: none;
    width: 16%;
    font-size: 18px;
    padding-bottom: 5px;
  }
}

.provider-container{
  border-bottom: 1px lightgrey solid;
  padding: 30px 10px;
  color: black;
  font-size: 18px;
  .provider-name{
    padding-bottom: 5px;
  }
  .provider-address{
    padding-bottom: 5px;
  }

  .rating-container{
    padding-bottom: 5px;
  }
}

.green{
  color: green;
}

.red{
  color: red;
}
.request-form-container{
	background-color:#ddd;
	float: right;
	margin-top: 10%;
	width: 18em;
	color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 68px;
	z-index: 999;

	label{
		margin: 0 10% !important;
	}

	.req-header{
		background-color: darkgrey;
    padding-top: 16px;
		.main{
			margin: 0;
			padding: 25px 15px 5px;
			font-size: 32px;
			line-height: 32px;
			-webkit-font-smoothing: antialiased;
			font-weight: bold;
		}

		.sub{
			-webkit-font-smoothing: antialiased;
	    font-size: 18px;
	    margin: 0;
	    padding: 0 15px 27px;
	    line-height: 25px;
		}
	}
	.form-control{
		margin: 5% 10% !important;
	}
	.req-legal{
		padding: 0 20px 20px;
		font-size: 12px;
		line-height: 16px;
	}
}

.req-info-btn{
	margin-top: 2%;
	a{
		text-decoration: none;
		color: black;
	}
	// margin-left: 8%;
}

.filter-label{
	font-size: 20px;
	color: black;
}
